/* Light theme */
:root {
    --primary-color: #1f3164d8;
    --secondary-color: #c5f1f1;
    --accent-color: #f5f5f5;
    --background-color: #ebfffb;
    --text-color: #000000;
}

/* Dark theme */
body.dark-mode {
    --primary-color: #14394bc5;
    --secondary-color: #263841;
    --accent-color: #000000;
    --background-color: #333;
    --text-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    transition: background-color 0.3s, color 0.3s;
}

.banner {
    background-color: var(--primary-color);
    color: var(--accent-color);
    font-size: 1.5em;
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    z-index: 1000;
}

.accordion {
    padding-bottom: 0.5rem;
    width: 100%;
    text-align: left;
    border-radius: 8px;
}

.accordion-button {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

.accordion-button:hover {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

.accordion-button.collapsed {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
}

.accordion-button.collapsed:hover {
    background-color: var(--secondary-color) !important;
    color: var(--text-color) !important;
}

.accordion-body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.options-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5rem;
}

.book-card {
    display: flex;
    flex-direction: column;
    background-color: var(--accent-color);
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 0rem;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}

.book-card .container {
    display: flex;
    flex-direction: column;
    padding: 0rem;
}

.book-card .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem;
    margin: 0rem;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}

.book-card .title {
    font-size: 1.2em;
    color: var(--text-color);
    font-weight: bold;
    margin-bottom: 0.1rem;
}

.book-card .author {
    font-size: 1em;
    color: var(--text-color);
    font-weight: semibold;
    margin-bottom: 0.1rem;
}

.book-card .genres {
    font-size: 0.9em;
    color: var(--text-color);
    margin-bottom: 0.1rem;
}

.book-card .published {
    font-size: 0.9em;
    color: var(--text-color);
    margin-bottom: 0.1rem;
}

.book-card .series {
    font-size: 0.9em;
    color: var(--text-color);
    margin-bottom: 0.1rem;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 0.1rem;
    min-width: 75px;
    min-height: 75px;
    max-width: 100px;
    max-height: 100px;
}

.text-wrap {
    overflow-wrap: break-word;
}
